*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 1;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
:root{
    --white-1: #ffffff;
    --blue-1: #92B8FF;
    --blue-2: #AECEFF;
    --blue-3: #C7E4FF;
    --purple-1: #B29AE7;
    --purple-2: #A586E3;
    --purple-3: #9370DC;

    --dark-shadow: #0000009c;
    --light-shadow: #ffffff9c;
}
.creditsTo{
    display: none;
}
fieldset{
    border: none;
}
main{
    min-height: 90vh;
    background-color: rgb(255, 253, 223);
}
img{
    max-width: 100%;
}
/*===Grid===*/
body{
    display: grid;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}
nav{
    grid-area: nav;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
/*===Header===*/
header{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
header>h1{
    color: white;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 50px;
    padding: 1% 3%;
    border-radius: 10px;
    background-color: var(--purple-3);
}
/*===Nav===*/
nav{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: var(--purple-2);
    height: 50px;
    box-shadow: 0px 0px 10px var(--dark-shadow);
}
nav>p{
    position: absolute;
    left: 10%;
    color: var(--white-1);
    font-size: 30px;
}
nav>p>span{
    color: var(--blue-2);
}
nav>section{
    display: flex;
    position: absolute;
    right: 5%;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
nav>section>a{
    color: var(--white-1);
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 200ms ease;
}
nav>section>a:hover{
    color: var(--blue-1);
}
.activePage{
    box-shadow: inset 0px 0px 5px var(--light-shadow);
    border-radius: 5px;
}
/*===Footer===*/
footer{
    background-color: var(--purple-1);
}
/*===Index Page===*/
.indexMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2% 0;
}
.indexMain>section{
    margin: 1% auto;
}

.mollyImageSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url("../images/forest-background.jpg");
    background-size: auto;
    background-position: center;
    overflow: hidden;
}
.mollyInfo{
    height: auto;
    border-radius: 10px;
    color: white;
    padding: 2%;
    padding-top: 5%;
}
.mollyInfo>*{
    text-shadow: -3px 2px 3px black;
    margin: 10% 0;
}
.mollyImage{
    width: 20%;
    margin-left: 20%;
    transform: translateY(10%);
    border-radius: 20px;
    overflow: hidden;
}
.mollyImage>img{
    width: 100%;
}
.aboutSignupSection{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px var(--dark-shadow);
}
.firstParagraph{
    margin: 0 5%;
}
.firstParagraph>h2{
    margin-bottom: 2%;
    font-size: 2em;
}
.firstParagraph>p{
    text-indent: 2em;
    line-height: 2em;
    font-size: 1.2em;
}
.a1Section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin: 0 2%;
    transition: all 300ms ease;
}
.a2Section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin: 0 2%;
    transition: all 300ms ease;
}
.a1Section>figure>img, .a2Section>figure>img{
    height: 100%;
    transition: all 300ms ease;
}
.a1Section>p, .a2Section>p{
    transition: all 100ms ease;
}
.a1Section>figure, .a2Section>figure{
    width: 100%;
}
.quickLinkYoga, .quickLinkTeacher{
    position: absolute;
    top: 50%;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-shadow: -2px 2px 2px var(--dark-shadow);
}
/*=Hover=*/
.a1Section:hover>figure>img, .a2Section:hover>figure>img{
    transform: scale(1.1);
}
.a1Section:hover>p, .a2Section:hover>p{
    transform: scale(1.1) translateY(-5px);
}
.yurtImageSection{
    width: 100%;
    background-image: url("../images/stream-background.jpg");
    background-size: 80%;
    background-position: 10%,0%;
}
.yurtImage{
    width: 30%;
    margin-left: 60%;
    margin-top: 10%;
    transform: translateY(8%);
    border: solid 2px var(--purple-1);
    border-radius: 10px;
    overflow: hidden;
}
.yurtImage>img{
    width: 100%;
    transform: scale(1.1);
}
.secondParagraph{
    width: 50%;
    margin: auto;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px var(--dark-shadow);
}
.secondParagraph>h2{
    font-size: 2em;
}
.secondParagraph>p{
    text-indent: 2em;
    line-height: 2em;
    font-size: 1.2em;
}
/*===Basic Form===*/
fieldset>legend{
    color: white;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    border-bottom: solid 1px white;
}
input[type = 'text'], input[type = 'email'], input[type = 'password']{
    padding: 10px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: white;
    opacity: 0.7;
}
input[type = 'text']:hover, input[type = 'email']:hover, input[type = 'password']:hover{
    opacity: 1;
    box-shadow: 3px 3px 5px var(--dark-shadow);
}
input[type = 'text']:focus, input[type = 'email']:focus, input[type = 'password']:focus{
    opacity: 1;
    box-shadow: 3px 3px 5px var(--dark-shadow);
    outline: none;
}
input[type = 'submit'], input[type = 'button']{
    padding: 5px;
    border: none;
    margin: auto;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.7;
}
input[type = 'submit']:hover, input[type = 'button']:hover{
    cursor: pointer;
    opacity: 1;
}
/*===Login===*/
.loginGrid{
    display: grid;
    position: relative;
    background-image: url("../images/vermont.jpg");
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    background-size: 100%;
    z-index: 1;
}
.entireLogin{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "login imageLogin";
    width: 50%;
    margin: 50px auto;
}
.entireLogin form{
    grid-area: login;
    background-color: var(--purple-1);
    border-radius: 15px;
    padding: 3em 5em;
    box-shadow: inset 0px 0px 10px var(--light-shadow);
}
.loginImage{
    grid-area: imageLogin;
    background-color: var(--purple-3);
    margin: 15px 0;
    border-radius: 0 15px 15px 0;
}
.loginImage>h2{
    margin: 0 auto;
    margin-top: 50%;
    color: white;
    text-align: center;
}
.entireLogin>form>h2{
    margin: 0 auto;
    color: white;
    text-align: center;
}

.loginInfo p{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    color: white;
}
.loginInfo p label{
    margin-left: 10px;
}
.loginInfo p i{
    position: absolute;
    top: 40%;
    left: 47.5%;
    color: var(--purple-3);
}
.signupImage a, .loginImage a{
    text-decoration: none;
}
.signupImage a p, .loginImage a p{
    padding: 10px;
    border: none;
    margin: auto;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    color: black;
    background-color: white;
    opacity: 0.7;
    text-decoration: none;
    text-align: center;
}
/*===Mistakes===*/
.errorMessages{
    width: 100%;
    grid-area: error;
}
.mistake{
    background-color: rgb(197, 78, 78);
    border-radius: 5px;
    width: 50%;
    text-align: center;
    margin: 1% auto;
    color: white;
    padding: 1%;
}
/*===Sign Up===*/
.backgroundOverlay{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("../images/vermont.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    background-size: 100%;
    z-index: -1;
}
.backgroundOverlay img{
    width: 100%;
    -webkit-filter: blur(5px);
}
.signupGrid{
    display: grid;
    position: relative;
    z-index: 1;
}
.entireSignup{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:
    "error error" 
    "imageSignup signup";
    width: 50%;
    margin: 50px auto;
}
.entireSignup form{
    grid-area: signup;
    background-color: var(--purple-1);
    border-radius: 15px;
    padding: 3em 5em;
    box-shadow: inset 0px 0px 10px var(--light-shadow);
}
.signupImage{
    grid-area: imageSignup;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 500px;
    background-color: var(--purple-3);
    margin: 15px 0;
    border-radius: 15px 0 0 15px;
}
.signupImage>h2{
    margin: 0 auto;
    margin-top: 50%;
    color: white;
    text-align: center;
}
.entireSignup>form>h2{
    margin: 0 auto;
    color: white;
    text-align: center;
}
.signupContactInfo p{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    color: white;
}
.signupContactInfo p label{
    margin-left: 10px;
}
.signupPasswords>p{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    color: white;
}
.signupPasswords>p>label{
    margin-left: 10px;
}
.signupPasswords>p:nth-child(2)>i{
    position: absolute;
    top: 77%;
    right: 32%;
    color: var(--purple-3);
}
.signupPasswords>p:nth-child(3)>i{
    position: absolute;
    top: 84%;
    right: 32%;
    color: var(--purple-3);
}
.profilePicSection{
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 150px;
    margin: 10px auto;
}
.signupProfilePic{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--dark-shadow);
    margin: auto;
    overflow: hidden;
}
.signupProfilePic>img{
    width: 70%;
    margin: auto;
}
.fleProfilePic{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 2px green;
    opacity: 0;
}
.fleProfilePic:hover{
    cursor: pointer;
}
/*===Yoga Classes===*/
.yogaParagraphs{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}
.yogaCalenderContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15%;
    width: 80%;
    padding: 2% 10%;
    margin: auto;
    box-shadow: 0px 0px 10px var(--dark-shadow);
    border-radius: 15px;
}
.yogaForm{
    color: white;
    background-color: var(--purple-1);
    border-radius: 10px;
    padding-bottom: 5%;
    transition: all 200ms ease;
}
.yogaForm:hover{
    transform: translate(5px, -5px);
    box-shadow: -5px 5px 5px var(--dark-shadow);
}
.yogaForm>h2{
    padding: 2%;
    border-radius: 10px 10px 0 0;
    background-color: var(--purple-3);
}
.yogaDates{
    padding: 0 0 2% 2%;
}
.yogaForm>h3{
    display: inline-block;
    padding: 2%;
    border-radius: 0 10px 10px 0;
    background-color: var(--purple-3);
    border: solid 2px var(--purple-2);
}
.yogaDescription{
    padding: 2%;
}
.yogaParticipants{
    padding: 2%;
}
.costSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 2%;
}
.costSection>*{
    width: 40%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--dark-shadow);
}
.moneyAmount{
    padding: 0;
    font-size: 30px;
    font-weight: 700;
}
.askQuestion{
    display: flex;
    justify-content: center;
    padding: 2%;
}
/*===Teacher courses===*/
.teacherCalenderContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15%;
    width: 80%;
    padding: 2% 10%;
    margin: auto;
    box-shadow: 0px 0px 10px var(--dark-shadow);
    border-radius: 15px;
}
.teacherForm{
    color: white;
    background-color: var(--purple-1);
    border-radius: 10px;
    padding-bottom: 5%;
    transition: all 200ms ease;
}
.teacherForm:hover{
    transform: translate(5px, -5px);
    box-shadow: -5px 5px 5px var(--dark-shadow);
}
.teacherForm>h2{
    padding: 2%;
    border-radius: 10px 10px 0 0;
    background-color: var(--purple-3);
}
.teacherForm>p{
    padding: 0 0 2% 2%;
}
.teacherDates{
    padding: 0 0 2% 2%;
}
.teacherForm>h3{
    display: inline-block;
    padding: 2%;
    border-radius: 0 10px 10px 0;
    background-color: var(--purple-3);
    border: solid 2px var(--purple-2);
}
.teacherDescription{
    padding: 2%;
}
.teacherParticipants{
    padding: 2%;
}
.teacherCostSection{
    display: grid;
    grid-template-areas: 
    "p p"
    "form1 form2";
    padding: 2%;
}
.teacherCostSection>p{
    grid-area: p;
}
.teacherCostSection>*{
    text-align: center;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--dark-shadow);
}
.teacherCostSection>form:nth-child(2){
    grid-area: form1;
}
.teacherCostSection>form:nth-child(3){
    grid-area: form2;
}
/*===Successful Database===*/
.successfulDatabase{
    position: absolute;
    top: 35vh;
    left: 30%;
    background-color: rgb(142, 224, 139);
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--dark-shadow);
    opacity: 1;
    text-align: center;
    z-index: 20;
}
.successfulDatabase>h2{
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
}
.successfulDatabase>a, .successfulDatabase>a:visited{
    width: 30%;
    margin: 10px auto;
    text-decoration: none;
    padding: 2%;
    background-color: white;
    border-radius: 1em;
}
/*===Admin===*/

/*===Yoga Insert===*/
.fullInsert{
    width: 50%;
    border-radius: 15px;
    background-color: var(--purple-1);
    color: white;
    margin: auto;
    padding: 2%;
}
.fullInsert>form>fieldset>*{
    margin: 2% 0;
}
/*===Participants===*/
.allStudentsSection{
    display: grid;
    grid-template-areas: 
    "yogah2 teacherh2"
    "yogaParagraph teacherParagraph";
    grid-gap: 5%;
    width: 80%;
    margin: 10vh auto;
}
.allStudentsSection>h2:nth-child(1){
    grid-area: yogah2;
}
.displayYogaSection{
    grid-area: yogaParagraph;
}
.allStudentsSection>h2:nth-child(2){
    grid-area: teacherh2;
}
.displayTeacherSection{
    grid-area: teacherParagraph;
}
.allStudentsSection>section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
    width: 100%;
    margin: auto;
}
.allStudentsSection>section>section>a, .allStudentsSection>section>section>a:visited{
    text-decoration: none;
    width: 50%;
    border-radius: 15px;
    margin: auto;
    color: black;
    background-color: white;
    padding: 2%;
    opacity: 0.7;
}
/*===Each Class===*/
.participantsMain>h2{
    margin-left: 5%;
}
.displayClassParticipants{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.participantSection{
    margin: 1%;
    padding: 1%;
    background-color: var(--purple-1);
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px var(--light-shadow);
    color: white;
    text-shadow: -2px 2px 4px var(--dark-shadow);
}
.participantPic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--dark-shadow);
    margin: auto;
    overflow: hidden;
}
.participantPic>img{
    width: 70%;
    margin: auto;
}