*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 1;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
:root{
    --white-1: #ffffff;
    --blue-1: #92B8FF;
    --blue-2: #AECEFF;
    --blue-3: #C7E4FF;
    --purple-1: #B29AE7;
    --purple-2: #A586E3;
    --purple-3: #9370DC;

    --dark-shadow: #0000009c;
    --light-shadow: #ffffff9c;
}
.creditsTo{
    display: none;
}
fieldset{
    border: none;
}
main{
    min-height: 90vh;
    background-color: rgb(255, 253, 223);
}
img{
    max-width: 100%;
}
/*===Grid===*/
body{
    display: grid;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}
nav{
    grid-area: nav;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
/*===Header===*/
header{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
header>h1{
    color: white;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 50px;
    padding: 1% 3%;
    border-radius: 10px;
    background-color: var(--purple-3);
}
/*===Nav===*/
nav{
    display: flex;
    align-items: center;
    position: sticky;
    background-color: var(--purple-2);
    height: 50px;
    box-shadow: 0px 0px 10px var(--dark-shadow);
}
nav>p{
    position: absolute;
    left: 10%;
    color: var(--white-1);
    font-size: 30px;
}
nav>p>span{
    color: var(--blue-2);
}
nav>section{
    display: flex;
    position: absolute;
    right: 5%;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
nav>section>a{
    color: var(--white-1);
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 200ms ease;
}
nav>section>a:hover{
    color: var(--blue-1);
}
.activePage{
    box-shadow: inset 0px 0px 5px var(--light-shadow);
    border-radius: 5px;
}
/*===Footer===*/
footer{
    background-color: var(--purple-1);
}
/*===Basic Form===*/
fieldset>legend{
    color: white;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    border-bottom: solid 1px white;
}
input[type = 'text'], input[type = 'email'], input[type = 'password']{
    padding: 10px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: white;
    opacity: 0.7;
}
input[type = 'text']:hover, input[type = 'email']:hover, input[type = 'password']:hover{
    opacity: 1;
    box-shadow: 3px 3px 5px var(--dark-shadow);
}
input[type = 'text']:focus, input[type = 'email']:focus, input[type = 'password']:focus{
    opacity: 1;
    box-shadow: 3px 3px 5px var(--dark-shadow);
    outline: none;
}
input[type = 'submit'], input[type = 'button']{
    padding: 5px;
    border: none;
    margin: auto;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.7;
}
input[type = 'submit']:hover, input[type = 'button']:hover{
    cursor: pointer;
    opacity: 1;
}
/*===Login===*/
.loginGrid{
    display: grid;
    position: relative;
    background-image: url("../images/vermont.jpg");
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    background-size: 100%;
    z-index: 1;
}
.entireLogin{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "login imageLogin";
    width: 50%;
    margin: 50px auto;
}
.entireLogin form{
    grid-area: login;
    background-color: var(--purple-1);
    border-radius: 15px;
    padding: 3em 5em;
    box-shadow: inset 0px 0px 10px var(--light-shadow);
}
.loginImage{
    grid-area: imageLogin;
    background-color: var(--purple-3);
    margin: 15px 0;
    border-radius: 0 15px 15px 0;
}
.loginImage>h2{
    margin: 0 auto;
    margin-top: 50%;
    color: white;
    text-align: center;
}
.entireLogin>form>h2{
    margin: 0 auto;
    color: white;
    text-align: center;
}

.loginInfo p{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    color: white;
}
.loginInfo p label{
    margin-left: 10px;
}
.signupImage a, .loginImage a{
    text-decoration: none;
}
.signupImage a p, .loginImage a p{
    padding: 10px;
    border: none;
    margin: auto;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    color: black;
    background-color: white;
    opacity: 0.7;
    text-decoration: none;
    text-align: center;
}
/*===Sign Up===*/
.backgroundOverlay{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("../images/vermont.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    background-size: 100%;
    z-index: -1;
}
.backgroundOverlay img{
    width: 100%;
    -webkit-filter: blur(5px);
}
.signupGrid{
    display: grid;
    position: relative;
    z-index: 1;
}
.entireSignup{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "imageSignup signup";
    width: 50%;
    margin: 50px auto;
}
.entireSignup form{
    grid-area: signup;
    background-color: var(--purple-1);
    border-radius: 15px;
    padding: 3em 5em;
    box-shadow: inset 0px 0px 10px var(--light-shadow);
}
.signupImage{
    grid-area: imageSignup;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 500px;
    background-color: var(--purple-3);
    margin: 15px 0;
    border-radius: 15px 0 0 15px;
}
.signupImage>h2{
    margin: 0 auto;
    margin-top: 50%;
    color: white;
    text-align: center;
}
.entireSignup>form>h2{
    margin: 0 auto;
    color: white;
    text-align: center;
}
.signupContactInfo p{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    color: white;
}
.signupContactInfo p label{
    margin-left: 10px;
}
.signupPasswords>p{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    color: white;
}
.signupPasswords>p>label{
    margin-left: 10px;
}
.profilePicSection{
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 150px;
    margin: 10px auto;
}
.signupProfilePic{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--dark-shadow);
    margin: auto;
    overflow: hidden;
}
.signupProfilePic>img{
    width: 70%;
    margin: auto;
}
.fleProfilePic{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 2px green;
    opacity: 0;
}
.fleProfilePic:hover{
    cursor: pointer;
}
/*===Yoga Classes===*/
.calenderContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    width: 80%;
    padding: 2%;
    margin: auto;
    border: solid 2px blue;
    border-radius: 15px;
}
.yogaForm{
    color: white;
    background-color: var(--purple-1);
    border-radius: 10px;
    transition: all 200ms ease;
}
.yogaForm:hover{
    transform: translate(5px, -5px);
    box-shadow: -5px 5px 5px var(--dark-shadow);
}
.yogaForm>h2{
    padding: 2%;
    border-radius: 10px 10px 0 0;
    background-color: var(--purple-3);
}
.yogaDates{
    padding: 0 0 2% 2%;
}
.yogaForm>h3{
    display: inline-block;
    padding: 2%;
    border-radius: 0 10px 10px 0;
    background-color: var(--purple-3);
    border: solid 2px var(--purple-2);
}
.yogaDescription{
    padding: 2%;
}
.yogaParticipants{
    padding: 2%;
}
.costSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 2%;
}
.costSection>*{
    width: 40%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--dark-shadow);
}
.moneyAmount{
    padding: 0;
    font-size: 30px;
    font-weight: 700;
}
.askQuestion{
    display: flex;
    justify-content: center;
    padding: 2%;
}